/* parte comune */
body {
     font-family: 'Candara', sans-serif;
     margin: 0;
     padding: 0;
     background-color: #F0F0F0;
}

div#titolo {
     background-color: #98D7C2;
     color: #000000;
     text-align: center;
     padding: 40px;
}

h1 {
     margin: 0;
     font-size: 50px;
}

div#colonnasx{
     width: 40px;
     height: 875px;
     background-color: #10564F;
     float: left;
     position: relative;
}

div#colonnadx{
     width: 40px;
     height: 875px;
     background-color: #10564F;
     float: right;
     position: relative;
}

div#menu {
     width: 100%;
     background-color: #10564F;
     text-align: center;
     margin: 0 0 25px 0;
     padding: 10px 0;
}

div#menu a {
     color: white;
     text-decoration: none;
     padding: 15px 20px;
     margin: 0 15px;
     font-size: 20px;
}

div#menu a:hover {
     background-color: #16796F;
}

div#menu a#evidenza {
     background-color: #16796F;
     font-weight: bold;
}

hr#sotto{
     background-color: #10564F;
     height: 40px;
     width: 100%; 
     margin: 0;
     padding: 0;
     border: none;
}

/* fine parte comune */

h2 {
     margin: 10px auto 0 auto;
     padding: 5px;
     text-align: center;
     font-size: 30px;
}

/* card */

.cards-container {
     display: flex;
     justify-content: center;
}

.card {
     margin: 30px;
     width: 315px;
     height: 275px;
     perspective: 1000px;
}

.card-inner {
     position: relative;
     width: 100%;
     height: 100%;
     transition: transform 0.6s;
     transform-style: preserve-3d;
}

.card:hover .card-inner {
     transform: rotateY(180deg);
}

/* Stili per front e back delle card */
.card-front, .card-back {
     position: absolute;
     width: 100%;
     height: 100%;
     backface-visibility: hidden;
     border-radius: 8px;
     padding: 30px;
     box-sizing: border-box;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
     box-shadow: 10px 10px 10px #DEDEDE;
}

/* Stile front della card */
.card-front {
      background-size: cover;
      background-position: center;
      color: white;
}

.card-front-content h2 {
     position: relative;
     color: black;
     font-size: 25px;
}

.card-front-content-sfondo {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-size: cover;
     background-position: center;
     border-radius: 8px;
     z-index: 0;
     opacity: 0.7;
}

/* Stile back della card */
.card-back {
     padding: 33px;
     background: white;
     transform: rotateY(180deg);
     color: black;
     display: flex;
     flex-direction: column;
     justify-content: center;
}

.card-back h3 {
      margin: 20px 0 0 0;
      padding: 0;
      color: black;
      font-size: 22px;
}

/* Sfondi diversi per ogni card */
.card-1 .card-front-content-sfondo {
     background-image: url('immagini/gas-serra.jpg');
}

.card-2 .card-front-content-sfondo {
     background-image: url('immagini/acqua.jpg');
}

.card-3 .card-front-content-sfondo {
     background-image: url('immagini/terreni-agricoli.jpg');
}

.card-4 .card-front-content-sfondo {
     background-image: url('immagini/deforestazione.jpg');
}

.card-5 .card-front-content-sfondo {
     background-image: url('immagini/pesticidi.jpg');
}

.card-6 .card-front-content-sfondo {
     background-image: url('immagini/soldi-sprecati.jpg');
}